* {
    font-family: 'Montserrat Alternates', sans-serif;
}
.navbar {
    .navbar-brand {
        color: #fff;
    }
}
.search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-color: $primary;
    border-radius: 30px;
    padding: 3px 20px;
    &:focus {
        border-color: $secondary;
    }
    input {
        box-shadow: none !important;
        border: none;
        background-color: transparent;
        padding: 0;
        font-size: 17px;
        &:focus {
            box-shadow: none !important;
            border: none;
            background-color: transparent;
        }
    }
    button {
        box-shadow: none !important;
        border: none;
        background-color: transparent;
        font-size: 17px;
        transition: all .2s;
        &:hover {
            color: $secondary;
            transform: scale(1.1);
        }
    }
}
.user-list {
    .card {
        border: none;
        text-align: center;
        max-width: 16rem;
        img {
            border-radius: 50%;
            border: 3px solid $secondary;
        }
        .card-title {
            
            padding-bottom: 5px;
            display: block;
        }
        a {
            &:hover {
                background-color: $secondary;
                border-color: $secondary;
            }
        }
    }
    .offcanvas {
        .offcanvas-header {
           i {
            font-size: 25px;
           }
        }
        .offcanvas-body {
            .user-links {
                display: flex;
                justify-content: center;
                gap: 21px;
            }
            .spinner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .list-group {
                .list-group-item {
                    i {
                        margin-right: 10px;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 18px;
                    background-color: $primary;
                    border: 1px solid $primary;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    &:hover {
                        border: 1px solid $secondary;
                    }
                }
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 480px) {
  
    .user-list {
        .card {
            border: none;
            text-align: center;
            max-width: 16rem;
            img {
                border-radius: 50%;
                border: 3px solid $secondary;
               
            }
            .card-body {
                .card-title {
                    font-size: 18px;
                    font-weight: 600;
                    padding-bottom: 2px;
                    display: block;
                    margin-bottom: 5px !important;
                }
                button {
                    font-size: 14px;
                    padding: 5px 5px;
                }
            }
        }
    }
    
}